version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: ops-tracker-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: opstrackerdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
